@charset "utf-8";

/*  입장  */
.intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #cec6da;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.intro-overlay::before {
  position: absolute; top: 0; left: 0;
  content: '';
  width: 100%; height: 100%;
  background: url("../img/bg_poem_dark.jpg");
  opacity: 0.3;
  pointer-events: none;
}
.intro-overlay * {
  position: relative;
  z-index: 1;
}
.intro-overlay img {
  width: 230px;
  opacity: 0.7; 
}
.intro-overlay p {
  margin: 20px 0;
  font-size: 17px; line-height: 160%; font-weight: 300;
}
.intro-overlay p span {
  font-weight: 600;
}
.intro-content {
  text-align: center;
  color: white;
}
.enter-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: white;
  color: #2b2434;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.enter-button:hover {
  background-color: #f0f0f0;
}

.mainpage {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: url(../img/bg_ex.png) no-repeat; */
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease-in-out;
}

.mainpage.on::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.poem_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
}
.poem_box {
  position: relative;
  padding: 30px;
  width: 30vw;
  height: 38vw;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
}
.poem_box::before {
  position: absolute;
  top: 0px;
  content: "";
  width: calc(100% + 5px);
  height: calc(100% + 3px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-top: none;
  pointer-events: none;
}
.poem_box::after {
  position: absolute;
  top: 0px;
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 7px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-top: none;
  pointer-events: none;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.poem_box.left::before {
  left: -5px;
  border-right: none;
}
.poem_box.left::after {
  left: -8px;
  border-right: none;
}
.poem_box.right::before {
  right: -5px;
  border-left: none;
}
.poem_box.right::after {
  right: -8px;
  border-left: none;
}
.poem_inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.poem_box.right .poem_inner::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-image: url("../img/poem_border.png") 50 / 20px round;
  opacity: 0.3;
  pointer-events: none;
}
.poem_box.left .poem_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.poem_box.left .inner_img {
  position: relative;
  margin: 2vw 0;
  width: 16vw;
  height: 16vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/* .poem_box.left .inner_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
} */
.poem_box.left .today_text {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.2em;
}
.poem_box.left .today_text span {
  font-weight: 100;
  font-size: 13px;
}
.poem_box.left .btns {
  display: flex;
  gap: 1.5vw;
}
.poem_box.left .btns button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  /* width: 4vw;
  height: 4vw; */
  width: 75px;
  height: 75px;
  font-size: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  /* background: rgba(0, 0, 0, 0.3); */
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}
.poem_box.left .btns button:hover {
  background: rgba(0, 0, 0, 0.7);
}
.poem_box.left .btns button strong {
  margin-top: 7px;
  font-size: 12px;
  letter-spacing: -0.03em;
}
.poem_box.right .poem_inner {
  padding: 5vw 10px 2vw;
}
.poem_box.right .poem_texts {
  height: 100%;
  text-align: center;
  overflow-y: auto;
  color: #fff;
  font-family: "BookkMyungjo";
}
.poem_box.right .poem_texts .poem_title {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
}
.poem_box.right .poem_texts p {
  font-size: 15px;
  line-height: 170%;
}
.poem_box.right .poem_texts p.sign {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}

/* 크게보기 팝업 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
}
.modal_poem {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  text-align: center;
}
.modal_poem .poem_img {
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.modal_poem_cont {
  position: relative;
  flex: 1;
  height: 100vh;
  font-family: "BookkMyungjo";
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_poem_cont .text_wrap {
  position: relative;
  padding-bottom: 50px;
  z-index: 5;
  color: #fff;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}
.modal_poem_cont .inner_bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  opacity: 0.2;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: 1;
}
.modal_poem_cont .color_bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.modal_poem_cont .poem_title {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
  word-break: keep-all;
}
.modal_poem_cont p {
  font-size: 15px;
  line-height: 170%;
}
.modal_poem_cont p.sign {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}
.modal-overlay .btns {
  position: absolute;
  left: calc(50% - 75px - 75px - 75px - 40px - 30px);
  top: 50px;
  display: flex;
  gap: 20px;
}

.modal-overlay .btns button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 75px;
  height: 75px;
  font-size: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}
.modal-overlay .btns button:hover {
  background: rgba(0, 0, 0, 0.7);
}
.modal-overlay .btns button strong {
  margin-top: 7px;
  font-size: 12px;
  letter-spacing: -0.03em;
}
.modal-overlay .close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  background: none;
  border: none;
  font-size: 30px;
  z-index: 999;
  transition: 0.3s;
}
.modal-overlay .close-btn:hover {
  color: var(--primary);
}
