@charset "utf-8";

.mobile {
  display: none;
}
@media screen and (max-width:1400px) {
  .poem_box {
    width: 40vw; height: 48vw;
  }
  .poem_list {   
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width:1024px) {
  .poem_list {   
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width:768px) {
  .poem_list {   
    grid-template-columns: repeat(1, 1fr);
  }
  .poem_cover {
    height: 37vw;
  }
}
@media screen and (max-width:480px) {
  .mobile {
    display: block;
  }
  .mainpage {
    background-position: center;
  }
  .poem_wrap {
    display: block;
    padding: 22vw 0 5vw;
    width: 100%;
    height: 100dvh;
    height: 100svh;
    height: 100vh;
    min-height: 100vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .poem_box.right {
    background: none !important;
    width: 100%; height: auto;  max-height: 68vh;
    border-radius: 0;
    box-shadow: none;
    border: none;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    overflow-y: auto;
  }
  .poem_box.right .poem_inner {
    padding: 0 5% 2vw;
  }
  .poem_box::before, .poem_box::after {
    display: none;
  }

  .poem_box.right .poem_inner::before {
    display: none;
  }
  .poem_box.left {
    position: absolute; bottom: 0; left: 0;
    width: 100%; height: auto;
    border: none;
    padding: 0 0 9vw;
    background: rgba(0,0,0,0.9);
    box-shadow: 0 -10px 20px rgba(0,0,0,0.2);
    border-radius: 35px 35px 0 0;
    z-index: 1;
    transition: 0.3s ease-in-out;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    z-index: 11;
  }
  .poem_box.left .poem_inner{
    display: none;
    height: 0;
    transition: 0.3s ease-in-out;

  }
  .poem_box.left .mobile {
    padding: 5vw 0;
    text-align: center;
  }
  .poem_box.left .mobile .btn {
    font-size: 20px; color: var(--textColor);
  }
  .poem_box.left .mobile .btn svg {
    transition: 0.3s ease;
  }
  .poem_box.left.open {
    display: block;
  }
  .poem_box.left.open .poem_inner {
    display: flex;
    padding-bottom: 10vw;
    height: auto;
    gap: 2vw;
  }
  .poem_box.left .today_text span {
    font-size: 15px;
  }
  .poem_box.left.open .mobile .btn svg {
    transform: rotate(180deg);
  }

  
  .close_bt_bg {
    position: absolute; top: 0; left: 0;
    display: none;
    width: 100%;
    height: 100dvh;
    height: 100svh;
    height: 100vh;
    min-height: 100vh;
    background: none;
    z-index: 10;
  }
  .close_bt_bg.on {
    display: block;
  }

  .modal-overlay .btns {
    left: 5%;
    z-index: 9;
  }
  .modal_poem .poem_img {
    display: none;
  }
  .modal_poem_cont {
    padding: 45vw 5% 20vw;
  }
  .modal_poem_cont .inner_bg,
  .modal_poem_cont .color_bg {
    width: 100%;
  }


  .nav_inner {
    flex-direction: column;
  }
  .hd_logo {
    display: none;
  }
  .nav_inner .search_box {
    padding: 30vw 5% 5vw;
    width: 100%; height: auto;
  }
  .cate_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5vw;
  }
  .sch_title {
    flex-wrap: wrap;
  }
  .sch_title p {
    flex: 1;
  }
  .sch_title button {
    display: none;
  }
  .sch_title p span.mobile {
    display: inline-block;
    margin-left: 5px;
    vertical-align: 0;
  }
  .sch_title p span.mobile svg {
    transition: 0.3s ease;
  }
  .search_inner {
    display: none;
  }
  .search_inner.on {
    display: block;
  }
  .search_box:has(.search_inner.on) .sch_title svg {
    transform: rotate(180deg)
  }
  .search_box:has(.search_inner.on) .sch_title button {
    display: block;
  }
  .poem_list {
    padding: 5vw 5% 10vw;
    width: 100%;
    gap: 10vw 5%;
  }

}